<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add 
      name="DefaultConnection" 
      connectionString="Data Source=.\MSSQLLocalDB;AttachDbFilename=\bin\Debug\AlBaseetDB.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True;Trusted_Connection=True" 
       />
  </connectionStrings>
</configuration>